<%  
  # msgs_crit[:created_at] = {'$gt': locals[:msgs_since]} if locals[:msgs_since]
  msgs_crit   = {cast_id: cast_id, status: CHAT_MSG_OK}
  chat_msgs   = $chat.get_many(msgs_crit)

  if !chat_msgs.any?
    chat_msgs = generate_default_chat_msgs(cast_id)
  end
  chat_videos ||= false
%> 

<style>
.chat_msg_content {
  display: block;
  margin: 10px 0 0 40px;
}
.chat_msg_content a {
  color: goldenrod;
  font-weight: bold;
}
.chat_msg_content a:hover {
  color: grey;
}
.user_type {
  display: inline-block;
  padding: 5px;
  padding: 5px;
  width: 20px;
  margin-left: 10px;
}
.user_name {
  width: 300px;
}
</style>

<!-- <script src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script> -->

<div>
<% if !chat_msgs.any? %>
<div>No posts here yet.</div>
<% end %>
<% chat_msgs.reverse.each do |msg| %>
<%#= msg.to_json %>
  <%= erb :'chat/single_chat_msg', locals: {msg: msg} %>  
<% end %>
</div>