<h1> good-weed.com's tech stack: Ruby Wins the War </h1>

<h2> Intro </h2>
<p> Our tech stack is a single, simple, monolithic fullstack app. We use the Ruby programming language and the Sinatra framework for our very full-stack pages. We use vanilla JavaScript (and some libraries like jQuery, lodash, turbolinks) to support dynamic functionality on our frontend, and vanilla CSS for styling.</p>

<p> This results in a very simple, performant, SEO-friendly and maintainable tech stack. As a startup, this is especially important - this allows us to keep our R&D costs down, which allows us to pass on the savings to our clients, and allows us to offer services at a fraction of the cost of our competitors.</p>

<p> While some of our competitors charge from $500 up to thousands of dollars for listings, we only charge 100$ for a 'pro' plan, which supports all of their features, and more. </p>

<h2> Tech stack - deep dive</h2>

<p> Our backend is Sinatra over Ruby. Ruby is an extremely productive language, known for centering on developer happiness. Since <a class='simple_link' href='/values'>we focus on user happiness</a>.</p>