

<div class='my_casts_list mw1000'>
<!--   <h4> I teach: </h4> -->
  <% if !$casts.exists?(user_id: cuid) %>
<!--         <div class='alert_message'>
      You have no courses yet. <a href='/create'>Click to create your first one</a>.
    </div> -->
  <% end %>

  <%  user_casts = $casts.all(user_id: user_id) %>
  <% if user_casts.any? %>
  <br/>
  <%= erb :'casts/casts_list', locals: {casts: user_casts, is_owner: true, show_enrolls: true} %>      
  <% else %>
  <h3 class=ct>List your first item. </h3>
  <% end %>
  <div class=ct style='margin-top: 40px'>
  <a href='/casts/edit/new?type=cast' class='btn btn-primary btn-raised'>Add Item</a>
  </div>
</div>