<% 
  buys = my_buys(user_id)   
  if buys.any? 
%>
  <div class='my_tickets'>
    <h5> My purchases </h5>
    <%= erb :'orders/orders_list', locals: {orders: buys} %>    
  </div>
  <% end %>

<% 
  orders = my_sales(user_id) 
  if orders.any? 
%>
  <div class='my_tickets'>
    <h5> My sales </h5>
    <%= erb :'orders/orders_list', locals: {orders: orders, is_seller: true} %>
  </div>
<% end %>

<% if is_seller %>
<div>
  <button class='btn btn-raised btn-primary' type=button onclick=addOrder()>+ Add Order</button>
</div>
<% end %>

<% if !buys.any? && !orders.any? %>
<div class='no_data_yet'>
  You have no orders yet. 
</div>
<% end %>
