<%

x=1

%>

<style>
.round_img_container {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  padding: 3px;
  background: linear-gradient(#e66465, #9198e5);
}
</style>

<div class='round_img_container'>  
  <img class='main_img' src='<%=src%>' />
</div>