<%
  locals[:city] ||= pr[:city]
%>

<select class='input1' style='margin:0; margin-left:10px' id=city_selector name=city <% if locals[:searchOnChange] %> onchange='rerunSearch()' <% end %>>
  <option value="">Any</option>
  <% US_STATES_CITIES.each do |state,cities| %>
    <optgroup label="<%=state%>">
      <% cities.each do |city| %>
        <option value="<%=city%>" <%="selected" if locals[:city] == city %>><%=city%></option>
      <% end %>
    </optgroup>
  <% end %>
  </select>
</select>