<%
type = locals[:product_type] || pr[:product_type]
%>
<select id=product_type_selector name=product_type <% if locals[:searchOnChange] %> onchange='rerunSearch()' <% end %>>
  <option value="">Any</option>
  <% PRODUCT_TYPES.each do |category,product_types| %>
    <optgroup label="<%=category%>">
      <% product_types.each do |product_type| %>
        <option value="<%=product_type%>" <%="selected" if type == product_type %>><%=product_type%></option>
      <% end %>
    </optgroup>
    
  <% end %>
  </select>
</select>