<p> We have a favicon: </p>

<img src='/img/favicon_red.ico' />

<p> It's pretty simple, and so are we. The red circle is meant to represent the "live" light that has traditionally been the symbol for creators to let them know they are "on the air" right now, from the early days of radio broadcasting all the way to present day. The red circle is contrasted with the white 'n', short for nowcast.</p>