<p> Nowcast was founded in San Francisco, during the beginning of the COVID19 plague and lockdown in early 2020. As we all tried to adjust to the new reality of <a target=_blank href='https://www.youtube.com/watch?v=fbflT6G9DMs'>having to stay apart</a>, we decided to do what we can to stay connected with our friends and family both locally and around the world, do what we can to help those hit the hardest economically continue their work online, and help us all observe social distancing so we can stay healthy both physically and emotionally.</p>

<p> We are huge fans of San Francisco. If we were more musically talented, we'd write songs about it, like Scott McKenzie's beautiful song about <a target=_blank href='https://www.youtube.com/watch?v=bch1_Ep5M1s'>wearing flowers in your hair</a>. Until then, we built a platform for like-minded people who can do cool or valuable things over live video to connect with those that want or need it. We're all in this together, and if we can't be physically together, we can at least do it online.</p>

<div class='ct'>
  <img src='https://i.imgur.com/X8twtvh.jpg' style='height:400px'>
  <figcaption>Sunshine & bubbles in Dolores Park, early 2020</figcaption>
</div>

<p>Standing <a target=_blank href='https://www.youtube.com/watch?v=rTVjnBo96Ug'>at the edge of the West</a>, by the time we wake up in San Francisco the sun is already setting in London and Tel Aviv and it's already then next day in Sydney. Here perhaps more than anywhere, we feel behind and know we need to work extra hard to stay connected with our loved ones around the world.</p>

<p>San Francisco is a small town. Smaller than Jacksonville, smaller than Columbus. LA is 5 times as large; NYC is 10 times as large. At 800,000, we're basically a small town, historically full of dreamers who travelled the world in search of the California Dream. What started with <a target=_blank href='https://en.wikipedia.org/wiki/California_Gold_Rush'>the rush for gold in 1849</a>, evolved into successive generations of dreams: from California citrus to oil; from free love and gay rights to the rush for Silicon and later for the Cloud; for equal rights for transgender people, immigrants and workers and tenants; and in mid-early 2020, the rush for live-video-based human connection alongside dealing with COVID19 and the efforts to ensure that <a target=_blank href='https://blacklivesmatter.com/'>Black Lives Matter</a>. California has always stood for the promise of a better land: for both the economic opportunities of the American Dream, and the civil and human rights that every person deserves. And San Francisco has always been the capital for all of these dreams. Not a perfect city by any means, but a capital for <a target=_blank href='https://www.youtube.com/watch?v=dN3GbF9Bx6E'>those who dream</a> of a <a target=_blank href='https://www.youtube.com/watch?v=gP6PS-poyMg'>better world</a>.</a></p>

<p>COVID19 has reminded us that we are not living in post-history: these are the days that will be written about in history books; the actions we take now will shape the world our children will be born into. It's up to us to make the world be what we want it to be. COVID19 also reminds us that life can and will be upended in both style and duration without warning. The time to fulfill your dreams is right now.</p>

<p>When we were young, we heard The Pet Shop boys encourage young dreamers to <a target=_blank href='https://www.youtube.com/watch?v=LNBjMRvOB5M'>Go West</a>. We did; this is what we found; this is our love song to San Francisco.</p>

<div class='ct'>
  <img src='https://i.imgur.com/Wwl1FaO.jpg' style='height:400px'>
  <figcaption>The Mission, San Francisco, June 2020</figcaption>
</div>