<style>
.pro_benefits li {
  background-color: whitesmoke;
  margin-top:10px;
  padding: 10px;
}
</style>

<h3> A good-weed.com pro account gives you the following benefits: </h3>
<small> Last updated: Oct 20th, '21. </small>
<ul class='pro_benefits'>
  <li>A "verified" checkmark and pro sign on your profile in search results. <i class='fas fa-badge-check'></i></li>

  <li>Precedence in search results over non-pro accounts.</li>
  <li>Support for video reviews, including 1 pro video review of your dispensary, shot and supplied by us.</li>
  <li> Products management  - up to 200 products. </li>
  <li> Orders management    - up to 1000 orders a day. </li>
  <li> Customers management - up to 10,000 customers. </li>
  <li> Profile stats and analytics report - see who is viewing your profile. </li>
  <li> Customer support by Whatsapp/email with C-level exec at good-weed.com.</li>
</ul>
<div>For any questions please email <a href='mailto:pro@good-weed.com'>pro@good-weed.com.</a></div>