<h2> Articles by Nowcast Community Members</h2>

<% articles = [
  {link: 'https://medium.com/@sellarafaeli/6-reasons-to-start-teaching-online-fb590b0d2ffd', title: '5 Reasons to Start Teaching Online', handle: 'sellarafaeli'}
]
%>

<div class='community_articles'>
  <ul style='list-style: none'>
    <% articles.each do |article| %>
    <li><i class='fal fa-link'></i> <a target=_blank href='<%=article[:url]%>'><%=article[:title]%></a></li>
    <% end %>
  </ul>
</div>