<h1> About Cannabis </h1>

<p> Cannabis is a plant that contains two chemical compounds - THC and CBD - that affect the human mind in surprising ways that include important medical and psychological benefits. </p>

<p> Cannabis used to be illegal, and as of 2021 is now gradually becoming legal across the nation and the world. </p>

<p> 
  In places where cannabis is legal, you can buy it in many forms - as a flower, as pre-rolled joints, as edibles, as tinctures, and more - from a wide variety of sellers. 
</p>

<p>
  It has been found that the affect of cannabis depends not only on the physical flower, but also on the process by which it is purchased and consumed. 
</p>