<h1> Getting Started With Cannabis </h1>

<p>
  Cannabis is a drug fit for adults. If you are under the age of 21, it is illegal for you to purchase or consume cannabis. If you are under the age of 25, we (good-weed) advise you not to use cannabis. If you or somebody in your family suffer from mental disorders or otherwise lack stability, we urge you to consider avoiding cannabis. If you are unsure if cannabis is right for you, we advise you to consult with your doctor.
</p>