<h1> Is Cannabis Right For You? </h1>

<p>
	Cannabis is a compound with great medical and psychological benefits for adults, but it is dangerous for young people under the age of 21. Use of cannabis at an early age can hurt the development of your brain and hurt your academic and professional achievements. 
</p>

<p>
	Cannabis makes people softer, more relaxed, and more open. Some people are soft enough, and could benefit more from the use of different chemicals, such as caffeine. If you feel you need to work hard and concentrate, you should consider using caffeine instead of cannabis. However, if you feel you work hard enough and wish to unwind, you should try cannabis. Similarly, if you feel you suffer from too much stress or anxiety, consider trying out cannabis. 
</p>