<h1> Calling All Dealers: list yourself on good-weed.com </h1>

<%= article_random_weed_pic_html %>

<p> Cannabis is now basically legal, in the right states. You just need a license to sell it. Once you have your license, you should list yourself on <a class=simple_link href='//good-weed.com'>good-weed.com</a>. <p>

<p> Listing yourself on https://good-weed.com is immediate and free, and lets people find you and your local cannabis service.</p>

<p> If you don't yet have a license to sell cannabis, you can still sell paraphernalia: rolling papers, lighters, ashtrays, bongs, entertainment materials, and art.</p>

<p> Make sure to give excellent customer service, get good reviews and ratings, and rise to the top of the ranked sellers in your area.</p>

<p> To happy high times and business :)</p>