<h1> Getting Started With Cannabis </h1>

<p>
  Cannabis is a drug fit for adults. If you are under the age of 21, it is illegal for you to purchase or consume cannabis. If cannabis is not legal in your location, you may not use this website. If you are under the age of 25, we (good-weed) advise you not to use cannabis. If you or somebody in your family suffer from mental disorders or otherwise lack stability, we urge you to consider avoiding cannabis. If you are unsure if cannabis is right for you, we advise you to consult with your doctor.
</p>

<p> If you are new to cannabis, this is a good place to start.</p>

<h2> Getting Started </h2>

<h4> Cannabis is addictive. </h4>
<p> The first thing you need to know about cannabis is that it is an addictive drug. Once you start using it, you will probably want to keep using it, even when that comes at a significant cost. </p>

<p> The second thing you need to know about cannabis, is that it is an amazing drug. Once you start using it, you will probably want to keep using it, even when that comes at a significant cost. </p>

<h4> Be careful. </h4>
<p> Because of the above, you should be careful. Make sure you have a support network - emotionally, logistically and financially. Make sure you got a good education, have a steady job, enough money and close ones. We advise using cannabis (where legal) as a medical and recreational herb that make you feel happier, more relaxed, and enjoy life more. </p> 

<h4> Join the Community. </h4>
<p> Wherever you are, you are part of the community, and you should join it. You can find local reviewers here on good-weed.com. We also encourage you to join your local church. </p> 
