
<h1> Medical and Psychological Benefits of Marijuana </h1>

With the illicit use of cannabis around the globe, people are using cannabis as a natural remedy for various health ailments. Cannabis refers to a group of three plants – Cannabis Sativa, Cannabis Indica, and Cannabis Ruderalis.
<br/>

The dried and harvested flowers of these plants refers to as weed, pot, and marijuana. People use cannabis-based products for both medical and recreational purposes. Marijuana has pleasurable effects on human psychological health. Aside from calming and relaxing effects of cannabis, it can help with a range of medical conditions, such as chronic pain.
<br/> 
Keep on reading to learn more about the health benefits of marijuana!

<h4>What Is Marijuana & its Components?</h4>

Marijuana is a plant whose leaves, flowering tops, stems, and seeds are used for medicinal purposes. Typically, the cannabis plant contains more than 113 natural chemical compounds – cannabinoids. However, experts have a pretty good understanding of two primary cannabinoids that are:

  • CBD – Cannabidiol

  • THC – Tetrahydrocannabinol

CBD is a non-psychoactive, non-intoxicating, and non-euphoric cannabinoid that doesn’t cause a high. Most people use this non-psychedelic cannabinoid to manage pain, migraine, seizures, and epilepsy. Moreover, FDA has approved a CBD-based medication, Epidiolex, for epilepsy. 
Contrary to this, THC is a psychoactive cannabinoid that is responsible for a high associated with marijuana. Mostly the dried flowers of the cannabis plant contain a combination of both these cannabinoids in varying concentrations. 

<h4>How Does Marijuana Work?</h4>

The human body contains a complex signaling network – the endocannabinoid system (ECS). The core components of ECS are:
  
  • Endocannabinoids
  
  • Cannabinoid receptors
  
  • Enzymes

Cannabinoids of the cannabis plant interact with the cannabinoid receptors (CB1 & CB2) of the ECS to maintain homeostasis. The affinity of CBD and THC with cannabinoid receptors in the CNS, PNS, and immune system manage various health ailments. The therapeutic properties of cannabis have lagged well behind popularity when it comes to mental health. 

<h4> Let us discuss the buzz around the mental health benefits of cannabis! </h4>
<h5>A Cannabis State of Mind:</h5>

Mental well-being is as crucial as physical fitness. The research about psychological health concludes that the active ingredients of medical marijuana have positive impacts. The misconception regarding cannabis use has diminished with its legalization in more than 31 states of the US. 
If you are considering taking cannabis to attain a peaceful and sound mind, read on.
Marijuana May Reduce Anxiety & Depression:

<br/>
Anxiety and depression are the primary mental health conditions that have a devastating impact on mental well-being. Anxiety has become the largest contributor to disability worldwide. Most people use traditional pharmaceuticals to manage anxiety symptoms that can cause side effects, such as drowsiness.
In contrast, taking cannabis-infused products sheds anxiety gradually without any side effects. Cannabis interacts with ECS to release the endorphins that make you feel better. Moreover, the antidepressant effects of CBD are beneficial to cope with stress disorders [1]. 
You can regain your mental health and cognitive abilities with marijuana.


<h5>Marijuana May Prevent Seizures:</h5>

Most people take cannabis due to its anti-seizure effects on the brain. The use of cannabis improves mental health by invigorating electrical activity. 
A study published in the Journal of Epilepsy research found that patients with Lennox-Gastaut Syndrome experience seizures reduction by regular use of cannabis [2]. Moreover, cannabis use is beneficial for those suffering from Dravet Syndrome.
Marijuana Manage Schizophrenia:

<br/>
Schizophrenia is a mental disorder that results in impairment of brain functioning. It combines hallucination, delusions and impairs daily functions. Schizophrenia requires lifelong treatment. 
However, cannabis use helps schizophrenic patients to regain the normal functioning of the nervous system. Cannabis interaction with the endocannabinoid system and its receptors in the brain results in the normal transmission of messages to all body parts. 
<br/>
A research study about cannabidiol found that its psychotic effects help people fight dementia safely and effectively [3]. 
<br/>
Moreover, the cannabinoids of the cannabis plant play a vital role in schizophrenia treatment by interacting with dopamine receptors in the brain.

<h5>Marijuana May Improve Cognitive Abilities:</h5>

With age, our brain goes through several degenerative processes. Well, fret not! You can improve your brain functioning and cognitive abilities by taking cannabis. With the therapeutic effects of cannabis, you can improve the power to focus, retain, and comprehend.
The ability of CBD to interact with endocannabinoid receptors is beneficial for neurological disorders. Sativex is an oral spray that is a combination of CBD & THC. It is effective and safe to reduce muscle spasticity in people with multiple sclerosis [4].

<h5>Marijuana May Reduce PTSD Symptoms:</h5>

PTSD – Post-traumatic stress disorder has an impact on the brain. A long period of traumatic events results in anxiety and depression. However, one can reduce the symptoms of PTSD by using cannabis. 
The interaction of cannabis cannabinoids with CB1 & CB2 receptors results in increased Serotonin levels. A case report published in The Permanente Journal indicates the effectiveness of cannabidiol in treating PTSD symptoms, Insomnia, and anxiety [5].
Marijuana Improves Sleep:
<br/>
For physical and mental well-being, a better night's sleep is essential. After in-depth sleep, nerve cells communicate better, and the tandem between thinking and actions increases. 
However, some health conditions as anxiety, stress, and chronic pain can disrupt your sleep patterns. Cannabis intake enhances the level of Melatonin (Sleep Hormone) by interaction with the pineal gland in the brain. Higher levels of sleep hormone improve the quality of sleep [6].

<br/>
<h5>Conclusion:</h5>

Marijuana, known by various names, such as weed, pot, and cannabis, is effective for mental and physical health. It can make you feel happy, relax, and more focused. Researchers are studying the effectiveness of cannabis and its cannabinoids concerning physical and psychological health. 
<br/>
Cannabis is illegal in various places. But with its growing popularity, more states are legalizing it for both medical and recreational purposes. In several US states, healthcare professionals prescribe marijuana for medical use. The chemical compounds of the cannabis plant impart unique effects on human health. 
If you are considering taking cannabis for any medical condition, be sure to check your state laws. Additionally, you can consult your doctor before incorporating cannabis-infused products into your daily regime. 

<br/>
Work Cited:
<br/>
  • https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5109019/
  <br/>
  • https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5767492/
  <br/>
  • https://pubmed.ncbi.nlm.nih.gov/29241357/
  <br/>
  • https://pubmed.ncbi.nlm.nih.gov/24525548/
  <br/>
  • https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5101100/
  <br/>
  • https://pubmed.ncbi.nlm.nih.gov/24845114/


