<h1> Sativa or Indica </h1>

<style> #OPP-powered-by {display: none !important } </style>
<script type="text/javascript" src="https://www.easypolls.net/ext/scripts/emPoll.js?p=6124fde7e4b04db784bd954b"></script><a class="OPP-powered-by" href="http://trailguide.net/html" style="text-decoration:none;"><div style="font: 9px arial; color: gray;">loading poll...</div></a>

<p> The two main strains of cannabis are colloquially known as <b>sativa</b> and <b>indica</b>. These are short for their biological names. </p>