<style>
.articles_links_list {
  margin-bottom: 10px;
}
.single_article_link {
  background-color: white;
  border:1px solid whitesmoke;
  padding: 5px 10px;
  font-size: 14px;
  text-transform: lowercase;
  border-radius: 5px;
}
.single_article_link:hover {
  background-color: darkgreen;
  color: white;
}
.articles_link {
  font-size: 14px;
}
</style>
<%
  articles = [
    {url: '/articles/about-cannabis', title: 'about cannabis'},
    {url: '/articles/getting-started-with-cannabis', title: 'Getting Started with cannabis'},
    {url: '/articles/is-cannabis-right-for-you', title: 'Is Cannabis Right For You?'},
    {url: '/articles/resources-while-high', title: 'Resources for enhancing stimuli'}
  ]
%>

<div class='articles_links_list'>
  <a class='articles_link' href='/articles'><b> articles: </b></span>
  <% articles.each do |article| %>
    <a href="<%=article[:url]%>" class='simple_link single_article_link'> <%=article[:title] %> </a>
  <% end %>
</div>
