<%
  msg = 'Explore Top Cannabis Brands'
  msg = "Top Cannabis Recommendations in #{pr[:city]}" if pr[:city]

%>

<style>
.brands_list {
  display: flex;
  flex-wrap: wrap;
}
.single_brand {  
  flex: 25%;
  margin: 0 10px 10px 0px;
  text-align: center;
  border:1px solid lightgrey;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
}
.single_brand:hover {
  border-color: grey;
  font-weight: bold;
  color: black;
}
.single_brand .brand_img { height: 100px; }
</style>
<h1> <%= msg%> </h1>
<div class='brands_list_container'>
  <div class='brands_list'>
    <% brands.each do |user| %>
    <a class='single_brand' href='<%=user_link(user)%>'>
      <div >
        
          <img class='brand_img' src='<%=user[:img_url]%>' />
          <div class='brand_handle'><%=user[:handle]%></div>
        
        <%#= user.to_json %>
      </div>
    </a>
    <% end %>
  </div>
</div>