<%
  brands = $users.all(type: 'seller')
%>

<style>
.single_brand { 
  border:1px solid lightgrey;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}
.brands_list {
  display: flex;
  flex-wrap: wrap;
}
.single_brand {
  flex: 25%;
  margin: 10px;
  text-align: center;
}
.single_brand:hover {
  border-color: grey;
  font-weight: bold;
  color: black;
}
.single_brand .brand_img { height: 100px; }
</style>
<!-- <h1> Brands List </h1> -->
<div class='brands_list_container'>
  <div class='brands_list'>
    <% brands.each do |user| %>
    <a class='single_brand' href='<%=user_link(user)%>'>
      <div >
        
          <img class='brand_img' src='<%=user[:img_url]%>' />
          <div class='brand_handle'><%=user[:handle]%></div>
        
        <%#= user.to_json %>
      </div>
    </a>
    <% end %>
  </div>
</div>