<%
  casts = $casts.all.sample(100)
  if pr[:q]
    casts = casts.select {|c| c.to_json.to_s.downcase.include?(pr[:q])}
  end
%>

<!-- <h1> Search </h1> -->
<div class='ct'>
<%= erb :'/search/search_inputs_row' %>
</div>
<%= erb :'casts/casts_list', locals: {casts: casts} %>