<h1> Hi there. </h1>

<p>
  We are <a href='https://good-weed.com'>good-weed.com</a>, a new online cannabis marketplace. 
</p>

<p>
  I am Sella Rafaeli, CEO/Founder.
</p>

<p>
  We connect buyers with cannabis deliveries.

  I'd like to offer you to work together. We'll let you use our product for free if you use us to receive 

  I'd like to help you grow your business in exchange for helping us test our new 'pro' features which allow you to list and sell your products directly through our platform, as well as drive more traffic to your own domain, if you have one. 
</p>