<style>
.hcd_left {
  text-align: left;
  
  flex: 1;
  display: none;
}
.hcd_right {
  flex: 1;
  zmargin-left: 50px; 
  background-color: #386256;
  color: white;    
  padding-bottom: 200px;
}
.home_cannabis_delivery {
  display: flex;
  zmax-width: 800px;
  margin: auto;
}

.lp_h1 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
.lp_h2 {
  font-size: 42px;
  
  font-weight: bold;
  width: 100%;
}

.main_img_wrapper {
  background-color: #386256;
  display: inline-block;
  
  text-align: center;
}
.hero_texts {
  text-align: left;
  padding-left: 150px;
}
.main_delivery_img {
  flex: 1;
  width: 220px;
  /* margin-right: 20px; */
  zmax-height: 500px;
  position: relative;
  top: 10px;
  right: 60px;
}

.main_search_wrapper {
  background-color: white;
  border-radius: 70px;
  padding: 5px 30px;
}
.main_search_wrapper input {
  outline: none;
  border: none;
}
.main_search_wrapper form {
  display: inline-block;
}
.search_icon {
  height: 40px;
}

@media (max-width: 800px) {
  .home_cannabis_delivery {
    flex-direction: column-reverse;
  }
  .hcd_right {
    display: block;
    text-align: center;
    margin-left: 0px;    
  }
  .hero_texts {
    padding: 0 15px;
  }
  .main_img_wrapper {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
  .main_search_wrapper {
    margin-top: 20px;
  }
  .search_icon {
    display: none;
  }
  form {
    text-align: center;
  }
}

</style>

<div class='home_cannabis_delivery'>

  <div class='hcd_left'>
    <!-- <h1> Cannabis Delivery </h1> -->    
  </div>
  
  <div class='hcd_right'>    
    <div class='hero_texts'>
      <h2 class='lp_h2'>Cannabis For You.</h2> 
      <h3 style='font-size: 20px'>Your local cannabis marketplace.</h3> 
    

      <span class='main_img_wrapper' style='zwidth:100%;'>
        <img src='/img/cannabis_delivery.jpg' class='main_delivery_img'>
      </span>    

      <div class='links_city_selector_container main_search_wrapper'>
        <%#= erb :'/partials/select_state_city', locals: {searchOnChange: true} %>      
        <img src='/img/icons/icon.png' class='search_icon'>
        <form method=get action='/zip' onsubmit="return false">
          <%#= erb :'/partials/select_area2', locals: {searchOnChange: true, zip_search: true, no_state: true, no_city: true, no_title: true} %>    

          <%= erb :'/home/address_selector', locals: {cb: 'gotozip'} %>
          <button class='btn btn-primary btn-raised'> Let's Go </button>

        </form>
      </div>
    </div>
    <h3 style='font-size:16px; display: block; margin-top: 0'></h3>
    <%= erb :'home/rooms' %>        
    
  </div>
</div>

<script>
function gotozip(place) {
  console.log('going to zip', place);
  
  //var place.address_components.map(c=>c.types||[]).filter(c=>c[0]);
  var zip;
  try {
    zip = place.address_components.filter(a => (a.types||[])[0]=='postal_code')[0].short_name;
    window.location = '/zip/'+zip;
  } catch (e) {
    console.log(e);
    alert('Choose an address with a postal code.')
  }
}
</script>