<style>
.main_delivery_img {
  flex:1;
  max-width: 100%;
  max-height: 500px;
  zborder-radius: 0 100px 0 100px;
}
.hcd_left {
  text-align: left;
  
  flex: 1;
}
.hcd_right {
  flex: 1;
  margin-left: 50px;    
}
.home_cannabis_delivery {
  display: flex;
  zmax-width: 800px;
  margin: auto;
}
@media (max-width: 8000px) {
  .home_cannabis_delivery {
    flex-direction: column-reverse;
  }
  .hcd_right {
    display: block;
    text-align: center;
    margin-left: 0px;    
  }
}

.lp_h1 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
.lp_h2 {
  font-size: 22px;
  
  font-weight: bold;
  width: 100%;
}

.main_img_wrapper {
  width: 100%;
  background-color: #386256;
  display: inline-block;
  width: 100%;
  text-align: center;
}
</style>

<div class='home_cannabis_delivery'>
  <div class='hcd_left'>
    <!-- <h1> Cannabis Delivery </h1> -->
    <span class='main_img_wrapper' style='width:100%;'>
      <img src='/img/cannabis_delivery.jpg' class='main_delivery_img'>
    </span>
    <h1 class='lp_h1'> the best cannabis delivery services. an online marketplace for cannabis in the local community.</h1>    
  </div>
  
  <div class='hcd_right'>    
    <h2 class='lp_h2'> Your Local Cannabis </h2> 
    <div class='links_city_selector_container'>
      <%#= erb :'/partials/select_state_city', locals: {searchOnChange: true} %>      
      <form method=get action='/zip' onsubmit="return false">
        <%#= erb :'/partials/select_area2', locals: {searchOnChange: true, zip_search: true, no_state: true, no_city: true, no_title: true} %>    

        <%= erb :'/home/address_selector', locals: {cb: 'gotozip'} %>
        <button class='btn btn-primary btn-raised'> Let's Go </button>

      </form>
    </div>
    <h3 style='font-size:16px; display: block; margin-top: 0'>chat with local buyers, sellers, influencers </h3>
    <%= erb :'home/just_chats' %>        
    
  </div>
</div>

<script>
function gotozip(place) {
  console.log('going to zip', place);
  
  //var place.address_components.map(c=>c.types||[]).filter(c=>c[0]);
  var zip;
  try {
    zip = place.address_components.filter(a => (a.types||[])[0]=='postal_code')[0].short_name;
    window.location = '/zip/'+zip;
  } catch (e) {
    console.log(e);
    alert('Choose an address with a postal code.')
  }
}
</script>