<style>
.main_delivery_img {
  flex:1;
  max-width: 100%;
  max-height: 500px;
  zborder-radius: 0 100px 0 100px;
}
.hcd_left {
  text-align: left;
  
  flex: 1;
}
.hcd_right {
  flex: 1;
  margin-left: 50px;    
}
.home_cannabis_delivery {
  display: flex;
  zmax-width: 800px;
  margin: auto;
}
@media (max-width: 8000px) {
  .home_cannabis_delivery {
    flex-direction: column-reverse;
  }
  .hcd_right {
    display: block;
    text-align: center;
    margin-left: 0px;    
  }
}

.lp_h1 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
.lp_h2 {
  font-size: 22px;
  
  font-weight: bold;
  width: 100%;
}

.main_img_wrapper {
  width: 100%;
  background-color: #386256;
  display: inline-block;
  width: 100%;
  text-align: center;
}
</style>

<div class='home_cannabis_delivery'>
  <div class='hcd_left'>
    <!-- <h1> Cannabis Delivery </h1> -->
    <span class='main_img_wrapper' style='width:100%;'>
      <img src='/img/cannabis_delivery.jpg' class='main_delivery_img'>
    </span>
    <h1 class='lp_h1'> the best cannabis delivery services. </h1>    
  </div>
  
  <div class='hcd_right'>
    <h2 class='lp_h2'> <small style='font-size:16px; display: block;'>top cannabis delivery dispensaries.</small><br/> order good weed now. </h2> 
    
    <div class='links_city_selector_container'>
    <%#= erb :'/partials/select_state_city', locals: {searchOnChange: true} %>      
    <form method=get action='/zip'>
      <%= erb :'/partials/select_area2', locals: {searchOnChange: true, zip_search: true, no_state: true, no_city: true, no_title: true} %>    
      <button class='btn btn-primary btn-raised'> Let's Go </button>
    </form>
    </div>
  </div>
</div>