<style>
  .main_delivery_img {
    flex:1;
    max-width: 100%;
    max-height: 500px;
    zborder-radius: 0 100px 0 100px;
  }

  .display-img-m{
    width: 100%;
    height: auto;
  }

  .display-img-medal{
    width: 8%;
    height: auto;
  }

  .start_r_img {

    width: 50%;
    height: auto;

  }

  .start_r_img-4r{
    width: 20%;
    height: auto;
  }

  .q_r_img {

    width: 6%;
    height: auto;

  }

  .photo_r_img {

    width: 30%;
    height: auto;

  }

  .custom-inp{
    width:100%;
    height:75px;
    border-radius:200px;

    background:white;
  }

  .custom-inp:focus{
    width:75%;
    height:75px;
    border-radius:200px;
    outline: none;
  }

  .custom-inp-ins{
    width:40%;
    height:90%;
    margin:2px;
    border-radius:50px;
    float:right;
    background:#05331D;
    color:white;

    outline: none;
  }


  .cus-inp{
    width:65%;
    border:none;
    outline:none;
  }

  .cus-inp:focus{
    width:65%;
    border:none;
    outline:none;
  }

  .head-cont{
    font-size:60px;
    font-weight:500;
    color:white;
  }

  .head-para{
    font-size:20px;
    font-weight:500;
    color:white;
  }

  .cus-nav{
    border-left:3px solid whitesmoke;
    border-right:3px solid whitesmoke;
    border-bottom:3px solid whitesmoke;

  }

  .b-bottom{
    border-bottom:5px solid #2B6356;
  }

  .cus-search-m{
    width:100%;
    height:70%;
    outline:none;
    border:none;
  }

  .cus-search-m:focus{
    outline:none;
  }

  .cus-search{
    width:100%;
    height:70%;
    border:3px solid whitesmoke;;
    outline:none;
    border-radius:50px;
  }

  .c-content-p{
    font-size:12px;

  }

  .h-fit-con{
    height:fit-content;
  }

  .login-btn-chat{
    background:#2B6356;
    border:1px solid #2B6356;
    border-radius:50px;
    height:50px;
    width:40%;
  }


  .login-btn-call{
    background:white;
    border:3px solid #2B6356;
    border-radius:50px;
    height:50px;
    width:40%;
  }

  .btn-card-small{
    background:inherit;
    border:2px solid #2B6356;
    border-radius:30px;
    height:20px;
    width:22%;
    font-size:10px;
  }

  @media screen only and (min-width: 100px) and (max-width: 600px){
    .custom-inp{
      width:auto;
      height:auto;
    }
  }

</style>

<div class="row p-3 "  style="background:#2B6356">
  <div class="row justify-content-around mt-1" style="background:#2B6356">
    <div class="col-md-auto mt-3">
      <div class="mt-3">
        <h3 class="head-cont">Your favorite cannabis,</h3>
        <h3 class="head-cont">delivered</h3>
        <p class="head-para">cannabis delivery, dispensaries, and brands </p>
      </div>
    </div>
  </div>
  <div class="row " style="background:#2B6356">
    <div class="col-12 col-sm-12 col-lg-5" style="background:#2B6356">
      <img src='/img/cannabis_delivery.jpg' class='main_delivery_img'>
    </div>
    <div class="col-12 col-sm-12 col-lg-4 d-flex justify-content-start mt-5 pt-3"  style="background:#2B6356">
      <form class="custom-inp d-flex align-items-center justify-content-start" action="/zip" method="get">
        <img src='/img/Search Icon Cannabis.svg' class='main_delivery_img'>
        <input name="zip" class="cus-inp" placeholder="Enter Your ZipCode"></input>
        <button type="submit" class="custom-inp-ins">Find cannabis</button></form>
      <script>
          function searchZip() {
              var code = $("#zipcode_input").val();
              if (code.length==5) {
                  document.location='/zip/'+code;
                  //alert('Searching! Click to view results.');
              }
          }
      </script>

    </div>
  </div>
</div>


