<style>

.contact_vip_container {
  padding:10px; 
  background-color: whitesmoke;
  text-align: center;
}
</style>

<div class='contact_vip_container'>
  <h1> Hi there. </h1>

  <p> Contact us at <b> vip@good-weed.com </b> to join the VIP chat. </p>
</div>