<style>
.main_delivery_img {
  flex:1;
  max-width: 100%;
  max-height: 500px;
  zborder-radius: 0 100px 0 100px;
}  

.main_img_wrapper {
  width: 100%;
  background-color: #386256;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
</style>


<span class='main_img_wrapper' style='width:100%;'>
  <img src='/img/cannabis_delivery.jpg' class='main_delivery_img'>
</span>
