<%
  id = locals[:code] || pr[:code] || 'home'
  title = nil
  title = 'VIP Chat' if id == 'vip'
%>
<style>
.home_chat_container {
  max-width: 800px;
  margin: auto;
}
</style>

<div class='home_chat_container'>
<%= erb :'/casts/chat', locals: {cast_id: id, cast: {_id: id}, title: title} %>
</div>