<%
  rooms = ['nyc', 'la', 'sf', 'seattle', 'chicago', 'san diego', 'portland', 'boulder', 'denver'].sort
%>

<style>
.just_chats_wrapper {
  max-width: 800px;
  margin: auto;
}
.single_room {
  display: inline-block;
  padding: 20px;
  width: 200px;
}
</style>
<div class='just_chats_wrapper'>
  <!-- <h1> or, chat </h1> -->
  <div class='rooms_list'>
    <% rooms.each do |room| %>
    <a class='single_room btn btn-primary btn-raised' href='/chat/<%=room%>'>
      <i class='fal fa-leaf-maple' style='padding-right: 5px'></i>
      <%=room%> 
    </a>    
    <% end %>
  </a>
  <br/>
  <br/>
  <br/>
</div>