<%
  rooms = [
    {label: 'nyc', zip: 10009},
    {label: 'sf', zip: 94104},
    # {label: 'la', zip: 90210},
    {label: 'seattle', zip: 98101},
    {label: 'portland', zip: 97035},
    {label: 'chicago', zip: 60610},
    {label: 'bend', zip: 97702},
    {label: 'boulder', zip: 80301},
    {label: 'denver', zip: 80014},    
  ].shuffle
%>

<style>
.just_chats_wrapper {
  max-width: 1000px;
  zmargin: auto;
  margin: 30px auto;
}
.single_room {
  display: inline-block;
  padding: 20px;
  width: 200px;
  color: white;
  text-align: left;
}
.single_room:hover {
  color: lightgreen;
}
</style>
<div class='just_chats_wrapper'>
  <div class='rooms_list'>
    <% rooms.each do |room| %>
    <a class='single_room btn btn-inverse btn-main zbtn-raised ct' href='/chat/<%=room[:label]%>' style='text-align: center'>
      <i class='fal fa-leaf-maple' style='padding-right: 5px'></i>
      <%=room[:label] %> 
    </a>    
    <% end %>
  </div>
</div>