<% 
%>
<h3 id=signup> 
<%= is_heb ? 'ברוכים הבאים.' : "List Your Cannabis Service:" %>
</h3>
<form action='/signup' method='post'>
  <%= erb :'login/signup_fields', locals: {only_signup: true} %>
</form>