<%
  is_seller ||= false
%>
<h2> Orders List </h2>
<% if is_seller %>
<div>
  <button class='btn btn-raised btn-primary' type=button onclick=addOrder()>+ Add Order</button>
</div>
<% end %>

<div class='orders_list'>
<% orders.reverse.each do |o| %>  
  <%= erb :'orders/single_order', locals: {order: o, is_seller: is_seller} %>
<% end %>
</div>

  
<script>
function addOrder() {

  $.post('/enrolls').then(res => {
    if (res.err) alert(res.err);
    else $(res.html).hide().prependTo($('.orders_list')).fadeIn(1000);
    //else $('.orders_list').prepend(res.html);
    
  });
}

function updateOrderStatus(val, orderId) {
  $.post('/enrolls/'+orderId, {status: val}).then(()=>alert('updated'));
} 
</script>