
<style>
.single_order_list {
  background-color: whitesmoke;
  padding: 10px;
  margin: 10px;
}
</style>
<h2> Orders List </h2>

<% orders.each do |o| %>

  <div class='single_order_list'>    
    <%#= o.to_json %>
    <div>item id: <a class=simple_link href='/casts/<%=o[:cast_id]%>'><%= o[:cast_id] %></a> </div>
    <b> amount: <%= o[:amount].to_f/100 %> </b> 
  </div>
  
<% end %>
