<%
  is_owner = false #||= locals[:is_owner] ||= false
  seller = locals[:user] || $users.get(cast[:user_id])
%>

<% if reviews.any? %>
<h4> Reviews </h4>
<% end %>

<% if true || can_leave_review(cu, cast) %>
  <% unless locals[:skip_submit] %>
  <button class='btn btn-raised btn-sm' onclick='$(".submit_review_form_wrapper").removeClass("noDisplay")'> + Add Review </button>
  <div class='submit_review_form_wrapper noDisplay'>
    <%= erb :'reviews/submit_review_form', locals: {seller: seller, user: user} %>
  </div>
<% end %>
<% end %>

<ul style='padding-left: 0;'>

<% reviews.to_a.sort_by{|r| r[:created_at] }.reverse.each do |review| %>
  <%= erb :'/reviews/single_review', locals: {review: review} %>  
  <br/>
  <hr/>
  <br/>
<% end %>
</ul>