<%
  articles = get_articles_list.shuffle
  articles.each do |a|    
    name = a[:name].gsub('-',' ').titleize
%>
  <div style='margin-bottom: 10px'>
    <a class='simple_link' style='text-decoration: none' href='/<%=a[:link]%>'>⦾ <%= name %> </a>    
  </div>
<% end %>