<h1> Influencers Program: Promote Your Brand Reviewing Your Favorite Weed </h1>
<small> September 1st, 2021 </small>

<p> Hi there, dear Cannabis Influencer. </p>

<p> We (good-weed.com) are launching an <b>influencers</b> program. </p>

<p>   
We're looking for <b>video reviews of dispensaries</b>: a few video pieces focused on "pro cannabis" content and highlighted by video reviews of the best dispensaries (in your subjective opinion) in your city. </p>


<p>About 30 seconds of you (actively using their products) and reviewing the products, the dispensaries themselves, and perhaps additional video content per your taste and possibly your own brand. </p>

<p>
We can
<br/>
a) pay you in cash for the review (no brand-sharing),
<br/>
b) share brands with you (mentioning both brands, no cash payment), or
<br/>
c) collaborate and share the revenues made on our platform. 
</pre>
</p>

<p> 
If interested, please email influencers@good-weed.com, together with:
<br/>
a) a price quote,
<br/>
b) a showreel/example of previous on-video-camera work.

</p>

<p> Thanks and happy highs. :) -- influencers@good-weed.com </p>

