<div class='container800' style='max-width: 700px'>
<h1> Influencer Co-Promotions </h1>

<p>Influencers can leave video reviews of cannabis dispensaries, brands or products. Reviews that are picked up by the brand will entitle the reviewer to 50% of the revenue. </p>

<h4> Get Started </h4>
<ol style='font-size: 15px'>
  <li> Sign up as a reviewer. </li>
  <li> Add video reviews of your favorite cannabis stores or brands. </li>
  <li> Contact us: hi@good-weed.com.</li>
</ol>

<p> Thanks and happy highs. :) </p>
<p> -- hi@good-weed.com. </p>


</div>