<div class='container800' style='max-width: 700px'>
<h1> Good-Weed Ambassadors </h1>
<small> September 1st, 2021 </small>

<h4> Overview </h4>
<p>good-weed.com's ambassador program helps local cannabis influencers co-promote with their favorite brands and share the revenues and exposure.  </p>

<p>Your revenue as an ambassador comes from brands with a <a href='/pro'>pro</a> account that marked you as their ambassador. </p>

<img src='https://i.imgur.com/C5UY95j.png' style='width: 100%; border:1px solid grey'/>
<figcaption style='font-size: 14px'>Pro Brands must list you as their ambassador on their profile in order for you to earn royalties on their revenues.</figcaption>

<h4> Ambassador Revenue </h4>
<p> Ambassadors are entitled to <b>50%</b> of revenues made on pro brands, for as long as the ambassador program runs, subject to terms and conditions. Payouts to ambassadors will be once a month, against an invoice. </p> 
<p>Good-weed.com reserves the right to make changes or cancel the ambassador program for any or all ambassadors for any reason.</p>

<h4> Get Started </h4>
<ol>
  <li> Contact your favorite brands on good-weed.com and tell them to list you as their ambassador. </li>
  <li> On your account, update your payment details to receive payments. </li>
  <li> Contact us for any question or help: ambassadors@good-weed.com.</li>
</ol>

<p> Thanks and happy highs. :) </p>
<p> -- partnerships@good-weed.com. </p>


</div>