<div class="cookies_banner znoDisplay" id="cookies_banner">
  <div>
  We use cookies. By continuing to use this website you accept the terms of service and consent to the use of cookies to track your behaviour.<br/>
  </div>
  <div class='accept_cookies_btn'>
    <small>      
      <a 
        id=accept_cookies_btn 
        class='btn btn-primary btn-raised' 
        onclick='
          $.ajax({
            url: "/accept_cookies",
            success: function() {$("#cookies_banner")[0].hidden = true}})'>
        OK, Accept Terms of Use and Cookies
      </a>
    </small>
  </div>
</div> 
