<style>
.hp_bottom {
  margin-top:30px; 
  padding:10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
}

</style>
<div style='height:100px'></div>
<div class="ct display_flex hp_bottom">
    
    <!-- <span class="flex1"><a href='/community?sec=help_center'>about</a></span> -->
    <!-- <span class="flex1"><a href='/how_it_works'>how it works</a></span> -->
    <!-- <span class="flex1"><a href='/start'>start</a></span>     -->
    <!-- <span class="flex1"><a href='/faq'>FAQ</a></span> -->
    <!-- <span class="flex1"><a href='/what_is_a_nowcast'>what's a nowcast?</a></span> -->
    
<!--     <span class="flex1"><a href='/support'>support</a></span> -->
    <!-- <span class="flex1"><a href='/@pricing'>pricing</a></span> -->
    <span class="flex1">
      <a href='/terms_of_service'><%= is_heb ? 'תנאי שימוש' : 'terms of service' %></a>
    </span>
    <span class="flex1">
      <a href='/privacy_policy'>
      <%= is_heb ? 'מדיניות הפרטיות' : 'privacy policy' %>
      </a>
    </span>
    <!-- <span class="flex1"><a href='/blog'>blog</a></span> -->
    <!-- <span class="flex1"><a href='/team'>team</a></span>     -->
    <!-- <span class="flex1"><a href='/careers'>careers</a></span>     -->
    <!-- <span class="flex1">
      <a href='https://www.facebook.com/Nowcastco-101882414883776/'><i class='fa fa-facebook'></i></a>
      <span style='display: inline-block; margin-left: 10px;'></span>
      <a href='https://www.instagram.com/nowcast.co/'><i class='fa fa-instagram'></i></a>
    </span> -->
    
    <span class="flex1"><a href='mailto:contact@nowcast.co'>contact@nowcast.co</a></span>
</div>


  <div style='display: none'>
    How to sell on Nowcast 
    
    Fitness
      - yoga 
      - pilates 
      - dance 
      - home workouts
      - for men
      - for women 
      - daily groups 
      - private 

    Tech
      - javascript 
      - css 
      - fullstack 
      - lectures
      - sheStartsToCode
      - blackBoysCode 
      - mentors 
      - guest speakers 
      - consultants 
      - hangouts 
      - experts 

    Languages
      - English
      - Spanish
      - Chinese
      - Russian
      - Hebrew 
      - French
      - Portuguese
      - Accent practice 

    Cooking
      - lessons
      - for dummies
      - on a budget 
      - experts 
      - Asian cuisine 
    
    Spirituality
      - Mindfulness
      - Christianity
      - Judaism
      - Islam 
      - Meditation
      - Buddhism 

    Fashion
      - interior design

    Emotional Support
      - therapists
      - psychologists
      - ...

    Art 
      - Improv sessions 
      - Acting Classes
      - Painting classes
      - Drawing classes

    Support Groups
      - Support Groups
      - Men Support Group
      - Women Support Group
      - Mothers Support Group
      - Fathers Support Group
      - Entrepreneurs Support Group
      - Women-in-tech Support Group

    Watch Parties 
      - NBA 
      - NFL
      - Soccer/Football

    Networking Events
      - WomenInTech
      - Ruby Developers
      - Israelis in the US

    Medical Advice 
      - 

    For Entrepreneurs 
      - Fashion tips 
      - asdf




      Stock market investing for beginners
    Financial advice for beginners

    Yoga
    Pilates
    Fitness
    Basic Stretching

    Chinese
    English
      - English for Russian speakers 
    Russian
    Spanish
    Hebrew
    
    Introduction to Web Development
    Programming
    Web Programming
    CSS
    JavaScript
    Full-Stack Development
    Premium Tech Consulting

    Cooking
    
    Fashion Advice
    Interior Design Advice
    Dating Advice
    Relationship Advice
    Pets Advice

    Startup Advice
    
    Graphic Design consulting
    Brand awareness consulting

    Online Games
    

    Law Consulting
    Immigration Consulting
    Tenants Rights Consulting

    COVID19 Medical Advice 
    Pet-care advice 
    Emotional Support
    Alcoholics Anonymous 
    420'ers United 

    

    Christianity
    Judaism
    Islam 
    Buddhism

    Alan Watts

    Sports News coverage 
    Online poker groups
    Online game night 
    Online movie night 

    Networking events 
      - Israelis in the US 
      - Israeli/American Entrepreneurs 

    Music show
    Drumming class
    Dance class 

    Public speaking (Toastmasters)

    History lectures
    Exotic Places and People 

    Kids Entertainment
  </div>