<style>
.hp_bottom {
  margin-top:30px; 
  padding:10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  font-size: 12px;
  padding: 20px;
}

</style>
<div style='height:100px'></div>
<div class="ct display_flex hp_bottom">
    
    <!-- <span class="flex1"><a href='/community?sec=help_center'>about</a></span> -->
    <!-- <span class="flex1"><a href='/how_it_works'>how it works</a></span> -->
    <!-- <span class="flex1"><a href='/start'>start</a></span>     -->
    <!-- <span class="flex1"><a href='/faq'>FAQ</a></span> -->
    <!-- <span class="flex1"><a href='/what_is_a_nowcast'>what's a nowcast?</a></span> -->
    
<!--     <span class="flex1"><a href='/support'>support</a></span> -->
    <!-- <span class="flex1"><a href='/@pricing'>pricing</a></span> -->
    <% if true %>
    
    <% end %>
    
    
    <span class="flex1"><a href='/blog/about_cannabitech.html'>about</a></span>
    <span class="flex1"><a href='/blog'>blog</a></span>
    <span class="flex1"><a href='/careers'>careers</a></span>    
    <span class="flex1"><a href='/contact'>contact</a></span>
    <span class="flex1"><a href='/faq'>FAQ</a></span>
    <span class="flex1"><a href='/privacy_policy'><%= is_heb ? 'מדיניות הפרטיות' : 'privacy policy' %></a></span>
    <span class="flex1"><a href='/support'>support</a></span>
    <span class="flex1"><a href='/team'>team</a></span>    
    <span class="flex1">
      <a href='/terms_of_service'><%= is_heb ? 'תנאי שימוש' : 'terms of service' %></a>
    </span>
    
    <span class="flex1">
      <a href='https://www.facebook.com/Nowcastco-101882414883776/'><i class='fa fa-facebook'></i></a>
      <span style='display: inline-block; margin-left: 10px;'></span>
      <a href='https://www.instagram.com/nowcast.co/'><i class='fa fa-instagram'></i></a>
    </span>
        
    

</div>
