<%
  #facets = brands.map{|b| b.keys.select {|k| b[k] == 'on'}}.flatten

  facets = FACETS.select{|f| brands.any?{|b| b[f[:key]]=='on' }}.mapo(:label)
  tags   = brands.map {|b| b[:tags].to_s.split(',')}.flatten

  tags   = facets + tags
%>

<style>
.clickable_tag {
  padding:5px 10px;
  border:1px solid black;
  border-radius: 0;
  font-size: 18px;
}
.clickable_tag.selected {
  
  background-color: lightgreen;
  font-weight: bold;
}
.clickable_tag:hover {
  cursor: pointer;
  text-decoration: underline;
}
.facets_filter {
  display: block;
}
</style>

<div class='facets_filter'>
<% tags.each do |tag| %>
  <span class='facet_tag clickable_tag' onclick='filterBrands(this, "<%=tag%>")'><%= tag %></span>
<% end %>
</div>

<script>
function filterBrands(el, tag) {
  if ($(el).hasClass('selected')) {
    $(el).removeClass('selected');
    $('.single_brand_container').show();
    $('.facet_tag').removeClass('highlight-tag')
  } else {    
    $('.clickable_tag').removeClass('selected');
    $(el).addClass('selected');    
    $('.single_brand_container').hide();
    $('.single_brand_container.'+tag).show();    
    $('.facet_tag').removeClass('highlight-tag');    
    $('.facet_tag.'+tag).addClass('highlight-tag');    
  }
  
}
</script>

