<style>
.subtypes_filter .filter_btn {
  font-size: 14px;
  display: inline-block;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
}
.subtypes_filter .filter_btn:hover {
  zborder:2px solid lightgreen;
  text-decoration: underline;
}
.subtypes_filter .filter_btn.selected {
  font-weight: bold;
  background-color: darkgreen;
  color:white;
}
</style>

<div class='subtypes_filter'>
  <% SUBTYPES.each do |subtype| %>
    <div class='filter_btn zbtn btn-raised btn-info' onclick="selectSubtype('<%=subtype%>', this)"> <%=subtype %>s</div>  
  <% end %>
  
</div>

<script>
function selectSubtype(subtype, btn) {
  $('.subtypes_filter .filter_btn').removeClass('selected');
  $(btn).addClass('selected');
}
selectSubtype($('.subtypes_filter .filter_btn').first())
</script>