<div class='about center_col' style=''>
  <h1> About </h1>

  <p> Users over 21 ("users") can post on local cannabis message boards. </p>

  <p> Verified businesses can list products for sale. </p> 

  <p> Users can order. Users can leave reviews (text, photo, video) for other users. </p> 

  <p> Buyers and sellers can manage their orders, purchases, reviews, conversations, images, videos. </p> 

  <p> Our marketplace connects cannabis consumers with local licensed providers and delivery services.</p> 

  <p> If you are licensed to sell in your area, sign up today. It's free. </p>

  <h4> See Also </h4>
  <ul>
    <div><i class='fa fa-arrow-right'></i><a href='/faq'> FAQ </a></div>
    <br/>
    <div><i class='fa fa-arrow-right'></i><a href='/articles'> Articles </a></div>
    <Br/>
    <div><i class='fa fa-arrow-right'></i><a href='/contact'> Contact </a></div>
    <Br/>
  </ul>
</div>