<div class='about center_col' style=''>
  <h1> About </h1>

  <p> Good-Weed.com helps adult consumers find good local cannabis providers.</p> 

  <p> If you are licensed to sell, sign up today. It's free. </p>

</div>