<div class='about center_col' style=''>
  <h1> About </h1>

  <p> Good-Weed.com is an online marketplace for quality cannabis delivery. </p> 

  <h2> How it works </h2>

  <p> 1. Buyer orders cannabis. This creates an order both buyer and seller can see and comment on. No money is transfered yet. </p>

  <p> 2. Seller delivers cannabis to buyer. Seller validates legal requirements of selling and buyer pays seller. </p>

  <p> 3. Once a month, seller pays 5% commission on orders made on the platform to good-weed.com. </p>


</div>