<style>
.text {
  max-width: 700px;
  margin: auto;
  line-height: 25px;  
}
.text p {
  font-size: 16px;
}
</style>
<div class='text'>
  <h1> good-weed.com cofounder </h1>

  <p> Hi there, my name is Sella Rafaeli. I'm the founder of good-weed.com, an online marketplace for cannabis. I am looking for a cofounder. </p>
</div>