<style>
.contact_us_option {
  margin-bottom: 30px;
}
.contact_us_option .label {
  font-size: 15px;
  width: 400px;
  display: inline-block;
}
.contact_us_box {
  background-color: whitesmoke;
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px;
}
</style>

<div class='contact_us_box'>
  <h1> Contact </h1>
  <ul>
    <li class='contact_us_option'>
      <div><b class='label'>If you wish to sell on good-weed, click here:</b> <a class='btn btn-raised btn-info' href='/signup'> Sign Up To Sell </a></div>
    </li>
    <li class='contact_us_option'>
      <div><b class='label'>If you wish to buy on good-weed, click here:</b> <a class='btn btn-raised btn-primary' href='/signup?type=seller'> Sign Up To Buy </a></div>
    </li>
    <li class='contact_us_option'>
      <div><b>For general inquiries, please email:</b> hi@good-weed.com </div>
    </li>
      
  </ul>

</div>